<%= render 'layouts/scrip' %>
<section class="section" >
  <h5 class="text-center title"><strong>Руководитель проэкта<br></strong></h5>
  <p class="text-center title">Семенова Зинаида Васильевна</p>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <h5><strong>Разработчики<br></strong></h5>
        <p>
        Гулмирзоев Сорбон Душанбеевич
        </p>
        <p>
          Назармамадов Мурид Курбонназарович
        </p>
      </div>
      <div class="col-sm-4  col-sm-offset-2">
        <h5><strong>Автор Идеи<br></strong></h5>
        <p>Любич Станислав Александрович</p>

      </div>
    </div>
</section>