<%= render 'layouts/scrip' %>
<section class="section">
  <div class="row">
    <h1 class="text-center">Помощь</h1>
    <div class="col-sm-4 col-sm-offset-2">
      <h5><strong>Для Автора<br></strong></h5>
      <p>
          Если вы Автор то обратитесь к разработчику по чрезвычайным вопросам.
        <a href="mailto:sorbon@.live.ru">Написать</a>
      </p>
    </div>
    <div class="col-sm-4  col-sm-offset-2">
      <h5><strong>Для Пользователя<br></strong></h5>
      <p>
        Если вы Пользователь и у вас возникли проблемы, то обратитесь к Автору, по всем вопросам.
      </p>
    </div>
  </div>
</section>

