<div class="page-content inset">
<div class="row">
  <table class="table table-hover">
    <thead>
    <tr>
        <th>№</th>
        <th>Названия </th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <%
      @cats=Cat.all
      @cats.each do |cat| %>
        <tr>
          <td>
            <abbr title="Редактировать">
              <h5>
                <%=
                  link_to  "#{cat.id}" ,ce_path(enc(cat.id.to_s)),method: :post %>
              </h5>
            </abbr>
          </td>
          <td>
            <abbr title="<%= cat.name %>">
              <h5>
                <%= cat.name[0..15] %>
              </h5>
            </abbr>
          </td>
          <td>
            <h5>
              <%= link_to  "Удалить" ,cd_path(enc(cat.id.to_s)), method: :delete, data: { confirm: 'Вы уверены?' }  %>
            </h5>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>
