<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/img/icon.ico">
    <title>Sqltrener</title>
    <%= csrf_meta_tags %>
    <noscript>
      <META HTTP-EQUIV="Refresh" CONTENT="0;URL=/404.html">
    </noscript>
  </head>
  <body>
  <%= yield %>
  </body>
</html>